<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Employee Dashboard</h1>
        <h3 class="jumbotron-heading" id="current-user"></h3>
        <p class="lead text-muted">Please choose from one of the following options</p>
        <p>
            <button class="btn btn-primary my-2" id="submit-new-request-btn">Submit New Request</button>
            <button class="btn btn-secondary my-2" id="view-my-submissions-btn">View My Submissions</button>
        </p>
    </div>
</section>