<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Employee Dashboard</h1>
        <h3 class="jumbotron-heading" id="current-user"></h3>
        <p class="lead text-muted">Please choose from one of the following options</p>
        <p>
            <button class="btn btn-primary my-2" id="create-new-request-btn">Create New Request</button>
            <button class="btn btn-primary my-2" id="view-my-submissions-btn">View My Submissions</button>
            <button class="btn btn-primary my-2" id="update-profile-btn">Update Profile</button>
        </p>
    </div>
</section>

<section class="jumbotron-heading" id="request-form">
    <div class="container">
        <h2 class="jumbotron-heading">Create Reimbursement Request</h2>
        <div class="alert alert-danger text-center" id="dashboard-alert-msg" role="alert"></div>
    </div>
</section>

<section class="jumbotron-heading" id="submissions-form">
    <div class="container">
        <h2 class="jumbotron-heading">All Submissions</h2>
    </div>
</section>

<section class="jumbotron-heading" id="update-form">
    <div class="container">
        <h2 class="jumbotron-heading">Update Profile</h2>
    </div>
</section>